html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  line-height: $line-height-base;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background-color: color('base', 'light');
  color: color('text');
  font-family: $font-family-primary;
  line-height: 1.7;
}

h1 {
  font-size: $mod_1 * $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}
h2 {
  font-size: $mod_1 * $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $mod_2 * $min_font
  );
}
h3 {
  font-size: $mod_1 * $mod_1 * 1rem;
  @include fluid-type(
    $min_width,
    $max_width,
    $mod_1 * $mod_1 * $min_font,
    $mod_2 * $mod_2 * $min_font
  );
}

a {
    @include base-link;  
    @include inherited;
    @include unvisited;
}

.c-intro {
  margin-top: get-spacing("xxl");
  padding: get-spacing("xs");
}

