@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(
          #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} *
            ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})
        );
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

@mixin u-text-serif {
    font-family: $font-family-serif;
}

@mixin u-text-sans-serif {
    font-family: $font-family-sans;
}

@mixin u-text-font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin u-text-interface {
    @include font-size($font-size-sm);
    font-family: $font-family-sans;
    letter-spacing: 0.017em;
}

@mixin u-text-right {
    text-align: right;
}

@mixin u-text-size($size) {
    @include font-size(size);
}

@mixin u-text-weight($weight) {
    font-weight: $weight;
}

/**
 * Default link style
 *
 */

/**
 * Unvisited
 *
 */

@mixin unvisited {
    &.visited,
    &:visited {
        color: inherit;
    }

    &.hover,
    &:hover {
        color: inherit;
    }
}

@mixin inherited {
    color: inherit;

    &.visited,
    &:visited {
        color: inherit;
    }

    &.hover,
    &:hover {
        color: inherit;
    }
}

@mixin base-link {
    text-decoration: none;
    text-decoration-skip-ink: auto;
}