$colors: (
  "text": #2b2526,
  "base": (
    "normal": #d3b78d,
    "light": lighten(#d3b78d, 20%),
    "dark": darken(#d3b78d, 15%)
  ),
  "danger": (
    "normal": #c73936,
    "light": lighten(#c73936, 20%),
    "dark": darken(#c73936, 15%)
  ),
  "secondary": (
    "normal": #8b6656,
    "light": lighten(#8b6656, 20%),
    "dark": darken(#8b6656, 15%)
  )
);

$brick-red: #c73936;
$tan: #d3b78d;
$black: #2b2526;
$dim-grey: #8b6656;
$slate-grey: #66746d;

// font-family: 'Eagle Lake', cursive;

// font-family: 'Felipa', cursive;

$font-family-primary: "Eagle Lake", cursive;
$font-family-secondary: "Redressed", cursive;

$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 17px;
$font-size-lg: 24px;
$font-size-xl: 26px;
$font-size-xxl: 28px;

$font-weight: (
  normal: 400,
  bold: 700
);

$golden-ration: 1.61803398875;
$line-height-base: 1;

$min_width: 320px;
$max_width: 1200px;
$min_font: 18px;
$max_font: 36px;
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

$primary--dark: #442c2e;

$spacing: (
  0: 0,
  "xxs": 5,
  "xs": 10,
  "sm": 15,
  "md": 25,
  "lg": 35,
  "xl": 50,
  "xxl": 60,
  "huge": 120
);
