$colors: (
  "text":#2B2526,
  "base": (
    "normal": #D3B78D,
    "light": lighten(#D3B78D, 20%),
    "dark": darken(#D3B78D, 15%)
  ),
  "danger": (
    "normal": #C73936,
    "light": lighten(#C73936, 20%),
    "dark": darken(#C73936, 15%)
  ),
  "secondary": (
    "normal": #8B6656,
    "light": lighten(#8B6656, 20%),
    "dark": darken(#8B6656, 15%)
  )
);

//brick red #C73936
//tan #D3B78D
//black #2B2526
//dim grey #8B6656
//slate grey #66746D


// font-family: 'Eagle Lake', cursive;

// font-family: 'Felipa', cursive;



$font-family-primary: 'Eagle Lake', cursive;
$font-family-secondary: 'Eagle Lake', cursive;

$font-size-xxs: 10px;
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 17px;
$font-size-lg: 24px;
$font-size-xl: 26px;
$font-size-xxl: 28px;

$font-weight: (
  normal: 400,
  bold: 700
);

$golden-ration: 1.61803398875;
$line-height-base: 1;

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;
$mod_1: 1.2; // mobile
$mod_2: 1.5; // desktop

$primary--dark: #442c2e;

$spacing: (
  0: 0,
  "xxs": 5,
  "xs": 10,
  "sm": 15,
  "md": 25,
  "lg": 35,
  "xl": 50,
  "xxl": 60,
  "huge": 120
);